/* ==========================================================================
   FONT FACE
   ========================================================================== */

@font-face {
    font-family: 'Lovelo';
    src: url('../font/Lovelo Line Light.otf');
}

@font-face {
    font-family: 'Lovelo-black';
    src: url('../font/Lovelo Line Bold.otf');
}


/* ==========================================================================
   BASE
   ========================================================================== */

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: 'Lovelo-black';
    font-size: 10em;
    margin: 0px;
    margin-top: 50px;
    color: darkcyan;
}

h2 {
    color: #E02753;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2.2em;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* ==========================================================================
   NAV
   ========================================================================== */


/* Navbar du site */

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.navbar-toggle {
    z-index: 3;
}

.navbar {
    border-radius: 0px;
    background-color: transparent;
    border: 0px solid #C5142C;
}

.navbar-left li:hover {
    background-color: darkcyan;
    opacity: 0.8;
}

.navbar-left a:hover {
    color: whitesmoke !important;
}

.navbar a {
    text-transform: uppercase;
    color: #C5142C !important;
    font-family: "Opens Sans", sans-serif;
    font-size: 1em;
}

.navbar-right {
    margin-right: 10px;
}

.navbar-right i {
    font-size: 1.5em;
}

.navbar-right a {
    padding-bottom: 0px !important;
}

.navbar-brand {
    font-size: 1.2em !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #232260;
}

.navbar-default .navbar-toggle {
    border: 0px;
}


/* ==========================================================================
   HEADER
   ========================================================================== */

header {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background: linear-gradient(to bottom, #d2ebf9 60%, #feffff 98%);
    position: relative;
}

header div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 17vh;
}

.mountain {
    margin-left: -25px;
}

.horse {
    transform: rotateY(-180deg);
    height: 20vh;
    bottom: 0;
    position: absolute;
    animation-name: horse;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 10s;
    animation-direction: alternate;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes horse {
    from {
        transform: rotateY(180px));
    }
    to {
        transform: translateX(300px);
    }
}


/* Standard syntax */

@keyframes horse {
    from {
        transform: rotateY(180px));
    }
    to {
        transform: translateX(300px);
    }
}

.paysage-header img:first-child {
    width: 20vh;
    margin-left: 30px;
}

.paysage-header {
    position: absolute;
    bottom: 0;
}

.paysage-header img {
    display: inline-block;
    width: 20vh;
}

.elements-volant img {
    width: 20vh;
    animation-name: balloon;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-delay: 10s;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes balloon {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 200px;
        top: 0px;
    }
}


/* Standard syntax */

@keyframes balloon {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-300px);
    }
}

.separator-header {
    width: 55%;
    border-bottom: 2px solid #C5142C;
}


/* ==========================================================================
   PRESENTATION
   ========================================================================== */

.presentation {
    display: block;
    background-color: #C5142C;
/*    height: 1000px;*/
}

.presentation img {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 100%;
    margin-bottom: 50px;
    transition: 0.5s;
}

.presentation h2 {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.separator-present {
    border-bottom: 1px solid whitesmoke;
    width: 300px;
    margin: auto;
    margin-bottom: 75px;
}

.div-present {
    height: 75vh;;
    background-color: #d2ebf9;
    padding: 0px;
    background-image: url(../img/lise.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 138%;
    margin-bottom: 150px;
}

.present {
    height: 100%;
    background-color: #c5142c;
    padding: 0px;
    border-right: 1px solid white;
}

#present-1 {
    background-image: url(../img/instagram-logo.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#present-2 {
    background-image: url(../img/settings.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#present-3 {
    background-image: url(../img/computer.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.hover-present {
    background-color: #d2ebf9;
    width: 100%;
    height: 100%;
    opacity: 0;/*
    transform: 1s;*/
    padding: 50px;
    font-size: 1.2em;
    color: darkcyan;
}

/*
.presentation p {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 5px solid #C5142C;
    padding: 50px 45px 50px 45px;
    margin-top: 30px;
    margin-bottom: 150px;
    background-color: ghostwhite;
    color: darkcyan;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.8s;
    cursor: default;
    height: 55vh;
}

.presentation p:hover {
    color: whitesmoke;
    background-color: darkcyan;
    box-shadow: none;
}

.presentation p img:first-child {
    width: 100px;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 0px;
    -webkit-filter: hue-rotate(175deg);
    filter: hue-rotate(175deg);
}*/


/* ==========================================================================
   COMPETENCE
   ========================================================================== */

.competence {
    background: linear-gradient(to bottom, #d2ebf9 60%, #feffff 98%);
}

.competence:last-child {
    margin-bottom: 150px;
}

.competence h2 {
    color: darkcyan;
}

.competence img {
    width: 165px;
}

.separator-competence {
    border-bottom: 1px solid darkcyan;
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
}

.competence-indi h3 {
    color: #C5142C;
    font-weight: 500;
    color: #E02753;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 2.5em;
    display: inline-block;
}

.competence-indi div {
    display: inline-block;
    height: 3px;
    width: 5vw;
    margin-left: 20px;
    background-color: #F79E00;
}

.competence-indi img {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0px;
    width: 10vw;
    border-radius: 0;
    margin-top: 5vh;
    margin-left: -5vw;
}

.competence-indi p {
    background-color: transparent;
    height: auto;
    width: auto;
    padding: 0px;
    border: 0;
    display: inline-block;
    margin: 0px;
    margin-left: -4vw;
    font-size: 1em;
    text-transform: uppercase;
}

.img-rotate {
    transform: rotateY(180deg);
}

.elephant-texte {
    margin-left: -1vw !important;
}

.seal-img {
    width: 8vw !important;
}

.seal-texte {
    margin-left: 1vw !important;
}